body {
  background-color: #212121;
  color: #fff;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

span {
  display: inline-block;
}

#clock {
  background-color: yellow;
  color: white;
  font-size: 40px;
  padding: 20px 50px;
  margin-top: 10px;
  border-radius: 10px;
}
